<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}DEFAULT TITLE---Iserlab{% endblock %}</title>

    <style>
        .blog{
            padding:20px 0px;
        }
        .blog .info span {
            padding-right: 10px;
        }
        .blog .summary {
            padding-top:20px;
        }
    </style>

</head>
<body>



<div align="center">
    <h1>欢迎来到Iserlab：基于OpenStack的网络攻防实验室</h1>
    <p>您好，[{{ role }}]{{ username }}|<a href="/login/">退出</a></p>
    <p>当前时间 {{ currentTime }}当前时间戳 {{ currentTimeStamp }}</p>

    <h2>{{ message1 }}</h2>
    <h2>{{ conn_result }}</h2>
    <h2>{{ message2 }}</h2>
</div>
{% ifequal role 'teacher' %}
    <div>
        <ul>
            <li><a href="/stu_home/" >学员管理</a></li>
            <li><a href="/exp_home/" >实验管理</a></li>
            <li><a href="/repo_home/" >资源库</a></li>
            <li><a href="/teach_home/" >教学统计中心</a></li>
            <li><a href="/download_file/">下载</a></li>
            <li><a href="/openstack_API_home/">测试OpenStack API连接</a></li>
        </ul>
    </div>
{% else %}
    <div>
        <ul>
            <li><a href="/exp_home/" >实验管理</a></li>
            <li><a href="/teach_home/" >成绩统计</a></li>
        </ul>
</div>
{% endifequal %}




{% block content %}
<div>这里是默认内容，所有继承自这个模板的页面，如果没有特有的内容覆盖就显示这里的默认内容。</div>
{% endblock %}



{% block footer %}
<div align="center">
    <p>本平台由中国人民大学信息安全实验室团队开发@2016-9-7</p>
</div>
{% endblock %}

</body>
</html>