<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}DEFAULT TITLE---Iserlab{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/css/bootstrap.min.css">

    <style>
        .blog{
            padding:20px 0px;
        }
        .blog .info span {
            padding-right: 10px;
        }
        .blog .summary {
            padding-top:20px;
        }
        body {
	        padding-top: 50px;
            padding-left: 50px;
        }
    </style>
{% block head %}
{% endblock %}
    <!--[if lt IE 9]>
	<script src="https://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
<![endif]-->
</head>
<body>



<div align="center">
{#    <h1>欢迎来到IserLab：基于OpenStack的系统安全实验平台</h1>#}
{#    <h1>当前时间 {{ currentTime }}</h1>#}
{#    <p>当前时间戳 {{ currentTimeStamp }}</p>#}

    <h2>{{ message1 }}</h2>
    <h2>{{ conn_result }}</h2>
    <h2>{{ message2 }}</h2>
</div>
{% ifequal role 'teacher' %}
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand">{{ username }}, 欢迎来到IserLab</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav nav-tabs">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user">学员管理</span><span class="caret"></span>
					</a>
      				<ul class="dropdown-menu">
       					<li><a href="/stu_home/">群组列表</a></li>
						<li><a href="/group_create/" target="_blank">新增群组</a></li>
      				</ul>
    			</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th-list">实验管理</span><span class="caret"></span>
					</a>
      				<ul class="dropdown-menu">
       					<li><a href="/exp_home/">实验列表</a></li>
						<li><a href="/exp_create/" target="_blank">创建实验</a></li>
                        <li><a href="/exp_instance_list/" target="_blank">实验实例列表</a></li>
                        <li><a href="/vm_instance_list/" target="_blank">主机实例列表</a></li>
                        <li><a href="/net_instance_list/" target="_blank">网络实例列表</a></li>

      				</ul>
    			</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-briefcase">资源库</span><span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						<li role="presentation" class="dropdown-header">公共资源库</li>
        				<li role="presentation">
            				<a role="menuitem" tabindex="-1" href="/repo_home/">公共实验资源</a>
        				</li>
        				<li role="presentation">
            				<a role="menuitem" tabindex="-1" href="/repo_public_image_list/">公共镜像资源</a>
        				</li>
						<li role="presentation" class="divider"></li>
        				<li role="presentation" class="dropdown-header">我的资源</li>
        				<li role="presentation">
            				<a role="menuitem" tabindex="-1" href="/repo_private_exp_list/">我的实验资源</a>
        				</li>
						<li role="presentation">
            				<a role="menuitem" tabindex="-1" href="/repo_private_image_list/">我的镜像资源</a>
        				</li>
						<li role="presentation">
            				<a role="menuitem" tabindex="-1" href="/repo_create_image/" target="_blank">创建镜像</a>
        				</li>
						<li role="presentation">
            				<a role="menuitem" tabindex="-1" href="/repo_private_network_list/">我的网络资源</a>
        				</li>
						<li role="presentation">
            				<a role="menuitem" tabindex="-1" href="/repo_create_network/" target="_blank">创建网络</a>
        				</li>
                        <li role="presentation">
            				<a role="menuitem" tabindex="-1" href="/repo_private_VM_list/">我的主机资源</a>
        				</li>
                        <li role="presentation" class="divider"></li>
        				<li role="presentation" class="dropdown-header">购物车</li>
        				<li role="presentation">
            				<a role="menuitem" tabindex="-1" href="/repo_ImageCart_list/">镜像购物车</a>
        				</li>
						<li role="presentation">
            				<a role="menuitem" tabindex="-1" href="/repo_NetworkCart_list/">网络购物车</a>
        				</li>
    				</ul>
    			</li>

				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-stats">教学统计</span><span class="caret"></span>
					</a>
      				<ul class="dropdown-menu">
       					<li><a href="/teach_home/">实验进展情况</a></li>
						<li><a href="/teach_result_list/">评价实验结果</a></li>
						<li><a href="/teach_score_list/">成绩统计</a></li>
						<li><a href="/delivery_list/">分发历史记录</a></li>
						<li><a href="/delivery_create/" target="_blank">新建分发任务</a></li>
      				</ul>
    			</li>
{#				<li><a href="/download_file/"><span class="glyphicon glyphicon-save">下载</span></a></li>#}
                <li><a href="/openstack_API_home"><span class="glyphicon glyphicon-cloud">测试OpenStackAPI连接</span></a></li>
				<li><a href="/login/"><span class="glyphicon glyphicon-log-out">退出</span></a></li>

			</ul>
		</div><!-- /.nav-collapse -->
	</div><!-- /.container -->
</div>


  <!--  <div>
        <ul>
            <li><a href="/stu_home/" >学员管理</a></li>
            <li><a href="/exp_home/" >实验管理</a></li>
            <li><a href="/repo_home/" >资源库</a></li>
            <li><a href="/teach_home/" >教学统计中心</a></li>
            <li><a href="/download_file/">下载</a></li>
            <li><a href="/openstack_API_home/">测试OpenStack API连接</a></li>
        </ul>
    </div> -->
{% else %}

 <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand">{{ username }}, 欢迎来到IserLab</a>
		</div>
            <!--    ly 方案一 开始 这里实验管理&教学统计均设置下拉框 使用此方案时可以删除页面上的小标题链接  -->


        <div class="collapse navbar-collapse">
			<ul class="nav navbar-nav nav-tabs">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th-list">实验管理</span><span class="caret"></span>
					</a>
      				<ul class="dropdown-menu">
       					<li><a href="/exp_home/">All Exp</a></li>
						<li><a href="/exp_list_undo/">undo Exp</a></li>
                        <li><a href="/exp_list_doing/">Doing Exp</a></li>
                        <li><a href="/exp_list_done/">Done Exp</a></li>
                        <li><a href="/exp_list_scored/">Scored Exp</a></li>
      				</ul>
    			</li>
                <li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-stats">教学统计</span><span class="caret"></span>
					</a>
      				<ul class="dropdown-menu">
       					<li><a href="/teach_home/">按实验查看</a></li>
						<li><a href="/teach_score_list_by_group/">按群组查看</a></li>
      				</ul>
    			</li>

				<li><a href="/login/"><span class="glyphicon glyphicon-log-out">退出</span></a></li>
			</ul>
		</div>

            <!--    ly 方案一 结束  -->

        <!--  ly  方案二 开始 实验管理&教学设计均不设置下拉 用户可以通过小标题链接进行访问
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/exp_home"><span class="glyphicon glyphicon-th-list">实验管理</span></a></li>
                <li><a href="/teach_home"><span class="glyphicon glyphicon-stats">成绩统计</span></a></li>
				<li><a href="/login/"><span class="glyphicon glyphicon-log-out">退出</span></a></li>
			</ul>
		</div>  -->
        <!--    ly 方案二 结束  -->
	</div><!-- /.container -->
</div>
  <!--  <div>
        <ul>
            <li><a href="/exp_home/" >实验管理</a></li>
            <li><a href="/teach_home/" >成绩统计</a></li>
        </ul>
</div>-->
{% endifequal %}

<!-- jQuery (Bootstrap 插件需要引入) -->
<script src="http://127.0.0.1:8000/static/js/jquery-3.2.1.js"></script>
<!-- 包含了所有编译插件 -->
<script src="http://127.0.0.1:8000/static/js/bootstrap.min.js"></script>


{% block content %}
<div>这里是默认内容，所有继承自这个模板的页面，如果没有特有的内容覆盖就显示这里的默认内容。</div>
{% endblock %}



{% block footer %}
<div align="center">
    <p>本平台由中国人民大学信息安全实验室团队开发@2016-9-7</p>
</div>
{% endblock %}

</body>
</html>