<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}DEFAULT TITLE---Iserlab{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/css/bootstrap.min.css">
    <script type="text/javascript" src="http://127.0.0.1:8000/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/js/common.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/js/quick_links.js"></script>
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/css/basely.css" />
    <style>
        .blog{
            padding:20px 0px;
        }
        .blog .info span {
            padding-right: 10px;
        }
        .blog .summary {
            padding-top:20px;
        }
        body {
	        padding-top: 50px;
            padding-left: 50px;
        }
    </style>
{% block head %}
{% endblock %}
    <!--[if lt IE 9]>
	<script src="https://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
<![endif]-->
</head>
<body>



<div align="center">
{#    <h1>欢迎来到IserLab：基于OpenStack的系统安全实验平台</h1>#}
{#    <h1>当前时间 {{ currentTime }}</h1>#}
{#    <p>当前时间戳 {{ currentTimeStamp }}</p>#}

    <h2>{{ message1 }}</h2>
    <h2>{{ conn_result }}</h2>
    <h2>{{ message2 }}</h2>
</div>
{% ifequal role 'teacher' %}
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand">{{ username }}, 欢迎来到IserLab</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav nav-tabs">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th-list">实验管理</span><span class="caret"></span>
					</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						<li role="presentation" class="dropdown-header">实验</li>
        				<li role="presentation">
            				<a role="menuitem" tabindex="-1" href="/exp_home/">实验列表</a>
        				</li>
        				<li role="presentation">
            				<a role="menuitem" tabindex="-1" href="/exp_create/" target="_blank">创建实验</a>
        				</li>
                        <li role="presentation">
            				<a role="menuitem" tabindex="-1" href="/exp_instance_list/">实验实例列表</a>
        				</li>
						<li role="presentation" class="divider"></li>
        				<li role="presentation" class="dropdown-header">网络</li>
                        <li role="presentation">
            				<a role="menuitem" tabindex="-1" href="/repo_private_network_list/">网络列表</a>
        				</li>
        				<li role="presentation">
            				<a role="menuitem" tabindex="-1" href="/net_instance_list/">网络实例列表</a>
        				</li>

						<li role="presentation" class="divider"></li>
        				<li role="presentation" class="dropdown-header">主机系统</li>
                        <li role="presentation">
            				<a role="menuitem" tabindex="-1" href="/repo_private_VM_list/">主机系统</a>
        				</li>
        				<li role="presentation">
            				<a role="menuitem" tabindex="-1" href="/vm_instance_list/">主机实例列表</a>
        				</li>

    				</ul>
    			</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-briefcase">资源库</span><span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						<li role="presentation" class="dropdown-header">公共资源库</li>
        				<li role="presentation">
            				<a role="menuitem" tabindex="-1" href="/repo_home/">公共实验资源</a>
        				</li>
        				<li role="presentation">
            				<a role="menuitem" tabindex="-1" href="/repo_public_image_list/">公共镜像资源</a>
        				</li>
						<li role="presentation" class="divider"></li>
        				<li role="presentation" class="dropdown-header">私有资源库</li>
        				<li role="presentation">
            				<a role="menuitem" tabindex="-1" href="/repo_private_exp_list/">我的实验资源</a>
        				</li>
						<li role="presentation">
            				<a role="menuitem" tabindex="-1" href="/repo_private_image_list/">我的镜像资源</a>
        				</li>
{#						<li role="presentation">#}
{#            				<a role="menuitem" tabindex="-1" href="/repo_create_image/" target="_blank">创建镜像</a>#}
{#        				</li>#}

{#						<li role="presentation">#}
{#            				<a role="menuitem" tabindex="-1" href="/repo_create_network/" target="_blank">创建网络</a>#}
{#        				</li>#}

    				</ul>
    			</li>

				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-stats">教学管理</span><span class="caret"></span>
					</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						<li role="presentation" class="dropdown-header">群组管理</li>
        				<li role="presentation">
            				<a role="menuitem" tabindex="-1" href="/stu_home/">群组列表</a>
        				</li>
                        <li role="presentation">
            				<a role="menuitem" tabindex="-1" href="/group_create/" target="_blank">新建群组</a>
        				</li>
						<li role="presentation" class="divider"></li>
        				<li role="presentation" class="dropdown-header">分发管理</li>
        				<li role="presentation">
            				<a role="menuitem" tabindex="-1" href="/delivery_list/">分发历史记录</a>
        				</li>
                        <li role="presentation">
            				<a role="menuitem" tabindex="-1" href="/delivery_create/" target="_blank">新建分发</a>
        				</li>
						<li role="presentation" class="divider"></li>
        				<li role="presentation" class="dropdown-header">实验进展管理</li>
        				<li role="presentation">
            				<a role="menuitem" tabindex="-1" href="/teach_home/">实验进展情况</a>
        				</li>
                        <li role="presentation" class="divider"></li>
        				<li role="presentation" class="dropdown-header">实验结果管理</li>
        				<li role="presentation">
            				<a role="menuitem" tabindex="-1" href="/teach_result_list/">评价实验结果</a>
        				</li>
                        <li role="presentation">
            				<a role="menuitem" tabindex="-1" href="/teach_score_list/">成绩统计</a>
        				</li>
    				</ul>

    			</li>
                <li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user">我的工具箱</span><span class="caret"></span>
					</a>
      				<ul class="dropdown-menu">
       					<li><a href="/repo_ImageCart_list/">镜像工具箱</a></li>
						<li><a href="/repo_NetworkCart_list/">网络工具箱</a></li>
      				</ul>
    			</li>

    			</li>

{#				<li><a href="/download_file/"><span class="glyphicon glyphicon-save">下载</span></a></li>#}
{#                <li><a href="/openstack_API_home"><span class="glyphicon glyphicon-cloud">测试OpenStackAPI连接</span></a></li>#}
				<li><a href="/login/"><span class="glyphicon glyphicon-log-out">退出平台</span></a></li>

			</ul>
		</div><!-- /.nav-collapse -->
	</div><!-- /.container -->
</div>

<div class="mui-mbar-tabs">
	<div class="quick_link_mian">
		<div class="quick_links_panel">
			<div id="quick_links" class="quick_links">
				<li>
					<a href="#" class="my_qlinks"><i class="setting"></i></a>
					<div class="ibar_login_box status_login">
						<div class="avatar_box">
							<ul class="user_info">
								<li>用户名：{{username}}</li>
								<li>用户身份：{{role}}</li>
							</ul>
						</div>
						<div class="login_btnbox">
							<a href="/login/" class="login_order">退出平台</a>
						</div>
						<i class="icon_arrow_white"></i>
					</div>
				</li>
				<li id="shopCart">
					<a href="#" class="message_list" ><i class="message"></i><div class="span">工具箱</div><span class="cart_num">0</span></a>
				</li>
			</div>
			<div class="quick_toggle">
				<li><a href="#top" class="return_top"><i class="top"></i></a></li>
			</div>
		</div>
		<div id="quick_links_pop" class="quick_links_pop hide"></div>
	</div>
</div>
  <!--  <div>
        <ul>
            <li><a href="/stu_home/" >学员管理</a></li>
            <li><a href="/exp_home/" >实验管理</a></li>
            <li><a href="/repo_home/" >资源库</a></li>
            <li><a href="/teach_home/" >教学统计</a></li>
            <li><a href="/download_file/">下载</a></li>
            <li><a href="/openstack_API_home/">测试OpenStack API连接</a></li>
        </ul>
    </div> -->
{% else %}

 <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand">{{ username }}, 欢迎来到IserLab</a>
		</div>
            <!--    ly 方案一 开始 这里实验管理&教学统计均设置下拉框 使用此方案时可以删除页面上的小标题链接  -->


        <div class="collapse navbar-collapse">
			<ul class="nav navbar-nav nav-tabs">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th-list">实验任务</span><span class="caret"></span>
					</a>
      				<ul class="dropdown-menu">
       					<li><a href="/exp_home/">所有实验任务</a></li>
						<li><a href="/exp_list_undo/">undo Exp</a></li>
                        <li><a href="/exp_list_doing/">Doing Exp</a></li>
                        <li><a href="/exp_list_done/">Done Exp</a></li>
                        <li><a href="/exp_list_scored/">Scored Exp</a></li>
                        <li><a href="/exp_instance_list/">实验实例</a></li>
      				</ul>
    			</li>
                <li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-stats">成绩统计</span><span class="caret"></span>
					</a>
      				<ul class="dropdown-menu">
       					<li><a href="/teach_home/">按实验查看</a></li>
						<li><a href="/teach_score_list_by_group/">按群组查看</a></li>
      				</ul>
    			</li>

				<li><a href="/login/"><span class="glyphicon glyphicon-log-out">退出平台</span></a></li>
			</ul>
		</div>

            <!--    ly 方案一 结束  -->

        <!--  ly  方案二 开始 实验管理&教学设计均不设置下拉 用户可以通过小标题链接进行访问
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/exp_home"><span class="glyphicon glyphicon-th-list">实验管理</span></a></li>
                <li><a href="/teach_home"><span class="glyphicon glyphicon-stats">成绩统计</span></a></li>
				<li><a href="/login/"><span class="glyphicon glyphicon-log-out">退出</span></a></li>
			</ul>
		</div>  -->
        <!--    ly 方案二 结束  -->
	</div><!-- /.container -->
</div>
  <!--  <div>
        <ul>
            <li><a href="/exp_home/" >实验管理</a></li>
            <li><a href="/teach_home/" >成绩统计</a></li>
        </ul>
</div>-->
{% endifequal %}

<!-- jQuery (Bootstrap 插件需要引入) -->
<script src="http://127.0.0.1:8000/static/js/jquery-3.2.1.js"></script>
<!-- 包含了所有编译插件 -->
<script src="http://127.0.0.1:8000/static/js/bootstrap.min.js"></script>


{% block content %}
<div>这里是默认内容，所有继承自这个模板的页面，如果没有特有的内容覆盖就显示这里的默认内容。</div>
{% endblock %}



{% block footer %}
<div align="center">
    <p>本平台由中国人民大学信息安全实验室团队开发@2016-9-7</p>
</div>
{% endblock %}







<!--[if lte IE 8]>
<script src="js/ieBetter.js"></script>
<![endif]-->
<script type="text/javascript" src="http://127.0.0.1:8000/static/js/parabola.js"></script>
<script type="text/javascript">
	$(".quick_links_panel li").mouseenter(function(){
		$(this).children(".mp_tooltip").animate({left:-92,queue:true});
		$(this).children(".mp_tooltip").css("visibility","visible");
		$(this).children(".ibar_login_box").css("display","block");
	});
	$(".quick_links_panel li").mouseleave(function(){
		$(this).children(".mp_tooltip").css("visibility","hidden");
		$(this).children(".mp_tooltip").animate({left:-121,queue:true});
		$(this).children(".ibar_login_box").css("display","none");
	});
	$(".quick_toggle li").mouseover(function(){
		$(this).children(".mp_qrcode").show();
	});
	$(".quick_toggle li").mouseleave(function(){
		$(this).children(".mp_qrcode").hide();
	});
// 元素以及其他一些变量
var eleFlyElement = document.querySelector("#flyItem"), eleShopCart = document.querySelector("#shopCart");
var numberItem = 0;
// 抛物线运动
var myParabola = funParabola(eleFlyElement, eleShopCart, {
	speed: 400, //抛物线速度
	curvature: 0.0008, //控制抛物线弧度
	complete: function() {
		eleFlyElement.style.visibility = "hidden";
		eleShopCart.querySelector("span").innerHTML = ++numberItem;
	}
});
// 绑定点击事件
if (eleFlyElement && eleShopCart) {
	[].slice.call(document.getElementsByClassName("btnCart")).forEach(function(button) {
		button.addEventListener("click", function(event) {
			// 滚动大小
			var scrollLeft = document.documentElement.scrollLeft || document.body.scrollLeft || 0,
			    scrollTop = document.documentElement.scrollTop || document.body.scrollTop || 0;
			eleFlyElement.style.left = event.clientX + scrollLeft + "px";
			eleFlyElement.style.top = event.clientY + scrollTop + "px";
			eleFlyElement.style.visibility = "visible";
			// 需要重定位
			myParabola.position().move();
		});
	});
}
</script>



</body>
</html>