{% extends "base.html" %}

{% block content %}
    <p>这里是教学统计中心，教员可以进行查看学生实验情况，评价实验结果，查看成绩统计，集中进行实验分发管理等一系列与教学相关的业务操作。</p>
    <ul>
        <li><a href="/teach_home/" >实验进展情况</a></li>
        <li><a href="/teach_result_list/">评价实验结果</a></li>
        <li><a href="/teach_score_list/" >成绩统计</a></li>
        <li><a href="/delivery_list/" >分发历史记录</a></li>
        <li><a href="/delivery_create/" target="_blank">新建分发任务</a></li>
    </ul>

    <div class="header">
        <h1 align="center">My Delivery History</h1>
    </div>

    {% for item in DeliveryList %}
        <div align="center" class="blog">
            <div class="title">
                <h2><a href="{% url 'delivery_detail' item.id %}" target="_blank">{{ item.id }}</a>：<a href="{% url 'delivery_detail' item.id %}" target="_blank">{{ item.name }}</a></h2>
                <a href="{% url 'delivery_detail' item.id %}" target="_blank">详情</a>|
                <a href="{% url 'delivery_edit' item.id %}" target="_blank">编辑</a>|
                <a href="{% url 'delivery_delete' item.id %}" >删除</a>

            </div>
        <div class="info">
            <span class="catagory" style="color: #ff9900;">实验名称：{{ item.exp.exp_name }}</span>
            <span class="author" style="color: #4a86e8;">分发群组：{{ item.group.name }}</span>
            <span class="created" style="color: #6aa84e;">分发日期：{{ item.delivery_time |date:"Y-m-d H:i" }}</span>

        </div>
        <div class="summary">
            {{ item.desc | truncatechars:100 }}
        </div>
        </div>
    {% endfor %}

{% endblock %}



