<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实验实例详情</title>
    <style>
        .topo{
            margin-top:30px;
            height: 500px;
            width: 600px;
        }
    </style>
    <script src="http://127.0.0.1:8000/static/js/jquery.min.js"></script>
    <script src="http://127.0.0.1:8000/static/js/qunee-min.js"></script>
</head>
<body>
    <div class="header">
        <h1>实验实例详情:{{ c.E_I_Detail_Dict.name }}</h1>
        <div>
            <a href="{% url 'exp_instance_goto' c.E_I_Detail_Dict.id %}" target="_blank">进入实验</a>|
            <a href="{% url 'exp_guide_download' c.E_I_Detail_Dict.id%}">下载实验指导书</a>|
            <a href="javascript:window.opener=null;window.open('','_self');window.close()" >关闭</a></p>
        </div>
    </div>

    <div class="content">
        <h2>实验实例概况</h2>
         <table cellpadding="5">
             <tr><td>名称</td><td>{{ c.E_I_Detail_Dict.name }}</td></tr>
             <tr><td>编号</td><td>{{ c.E_I_Detail_Dict.id }}</td></tr>
             <tr><td>创建者</td><td>{{ c.E_I_Detail_Dict.owner_name }}</td></tr>
             <tr><td>模板源</td><td><a href="{% url 'exp_detail' c.E_I_Detail_Dict.exp.id %}">{{ c.E_I_Detail_Dict.exp.exp_name }}</a></td></tr>
             <tr><td>状态</td><td>{{ c.E_I_Detail_Dict.instance_status }}</td></tr>
             <tr><td>创建时间</td><td>{{ c.E_I_Detail_Dict.createtime |date:"Y-m-d H:i" }}</td></tr>
             <tr><td>更新时间</td><td>{{ c.E_I_Detail_Dict.updatetime |date:"Y-m-d H:i" }}</td></tr>
             <tr><td>描述</td><td>{{ c.E_I_Detail_Dict.exp.exp_description }}</td></tr>
             <tr><td>默认操作机编号</td><td>{{ c.E_I_Detail_Dict.operate_vminstance_id }}</td></tr>
         </table>

    </div>

     <div class="summary">
            <h2>包含网络</h2>
            <table cellpadding="5" border="1">
                <tr>
                    <th>编号</th>
                    <th>网络ID</th>
                    <th>网络名称</th>
                    <th>网络地址</th>
                    <th>IP版本</th>
                    <th>网关IP</th>
                </tr>
                {% for item in c.E_I_Detail_Dict.net_instances %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.network_instance_id }}</td>
                    <td><a href="{% url 'net_instance_detail' item.id %}" target="_blank">{{ item.name }}</a></td>
                    <td>{{ item.network.cidr }}</td>
                    <td>{{ item.network.ip_version }}</td>
                    <td>{{ item.network.gateway_ip }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

    <div class="summary">
        <h2>包含主机</h2>
        <table cellpadding="5" border="1">
            <tr>
                <th>编号</th>
                <th>主机ID</th>
                <th>主机名称</th>
                <th>所连网络</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            {% for item in c.E_I_Detail_Dict.vm_instances %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.server_id}}</td>
                <td> <a href="{% url 'vm_instance_detail' item.id %}" target="_blank">{{ item.name }}</a></td>
                <td>{{ item.connect_net.name }}</td>
                <td>{{ item.status }}</td>
                {% ifequal c.role 'teacher' %}
                    <td><a href="{% url 'vm_instance_goto' item.id %}" target="_blank">进入主机</a></td>
                {% else %}
                    {% ifequal item.vm.is_operateVM True%}
                        <td><a href="{% url 'vm_instance_goto' item.id %}" target="_blank">进入主机</a></td>
                    {% endifequal %}
                {% endifequal %}
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="topo">
        <h2>实验拓扑：</h2>
         <div id="canvas" style="width: 600px; height: 450px; margin: auto; border: solid 1px #2898E0;"></div>
            <script>
            var graph = new Q.Graph("canvas");

            function onDataCollected(txt){
                var json = JSON.parse(txt);
                translateToQuneeElements(json, graph);
            }
            function translateToQuneeElements(json, graph){
                var map = {};
                if(json.nodes){
                    Q.forEach(json.nodes, function(data){
                        var node = graph.createNode(data.name, data.x || 0, data.y || 0);
                        node.set("data", data);
                        node.image=data.image;
                        map[data.id] = node;
                    });
                }
                if(json.edges){
                    Q.forEach(json.edges, function(data){
                        var from = map[data.from];
                        var to = map[data.to];
                        if(!from || !to){
                            return;
                        }
                        var edge = graph.createEdge(data.name, from, to);
                        edge.set("data", data);
                    }, graph);
                }
            }
            var Topo= {{Topo|safe}};
            Topo = Topo[0];
            var layouter = new Q.SpringLayouter(graph);
            layouter.repulsion = 90;
            layouter.attractive = 0.4;
            layouter.elastic = 0;
            layouter.start();
            onDataCollected(Topo);

            </script>

    </div>

</body>
</html>