<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group Detail</title>
</head>
<body>

    <div class="header">
        <h1>查看群组详情</h1>
{#        <span>显示群组<a href="{% url 'group_view' G_Detail_Dict.id %}">{{ G_Detail_Dict.name }}</a>详情</span>#}
    </div>

    <div class="content">
        <div class="blog">
            <div class="title">
                <a href="{% url 'group_view' G_Detail_Dict.id %}"><h2>{{ G_Detail_Dict.name }}</h2></a>
            </div>
            <p><a href="{% url 'group_edit' G_Detail_Dict.id %}" target="_blank">编辑群组</a>
                |<a href="javascript:window.opener=null;window.open('','_self');window.close()" >关闭</a></p>

            <div class="info">
                <span class="category" style="color: #ff9900;">学生人数：{{ G_Detail_Dict.stucount }}</span>
                <span class="author" style="color: #4a86e8">创建者：{{ G_Detail_Dict.teacher }}</span>
                <span class="created" style="color: #6aa84f">创建时间：{{ G_Detail_Dict.created_at|date:"Y-m-d H:i" }}</span>
            </div>
            <div class="summary">
                群组描述：{{ G_Detail_Dict.desc }}
            </div>
            <p>学生列表：</p>
                <table cellpadding="10">
                    <tr>
                        <th >ID</th>
                        <th>用户名</th>
                        <th>邮箱</th>
                    </tr>
                    {% for item in G_Detail_Dict.stulist %}
                    <tr>
                        <td><span class="category" style="color: #ff9900;">{{ item.id }}</span></td>
                        <td><span class="author" style="color: #4a86e8">{{ item.stu_username }}</span></td>
                        <td><span class="created" style="color: #6aa84f">{{ item.stu_email }}</span></td>
                    </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>

</body>
</html>