{% extends "base.html" %}

{% block content %}
    <p>这里是测试系统与OpenStack API的连接性</p>

    <ul>
        <li>Glance</li>
            <ul>
                <li><a href="/image_list/" target="_blank">Image List</a></li>
                <li><a href="/image_create/" target="_blank">Image Create</a></li>
                <li><a href="/image_delete/" target="_blank">Image Delete</a></li>
            </ul>
        <li>Neutron</li>
            <ul>
                <li><a href = '/network_subnet_list/' target="_blank">Network_Subnet List</a></li>
                <li><a href = '/network_list/' target="_blank">Network List</a></li>
                <li><a href = '/subnet_list/' target="_blank">Subnet List</a></li>
                <li><a href = '/network_create/' target="_blank">Network Create</a></li>
                <li><a href = '/router_list/' target="_blank">Router List</a></li>
                <li><a href = '/router_create/' target="_blank">Router Create</a></li>
                <li><a href = '/router_delete/' target="_blank">Router Delete</a></li>
                <li><a href = '/router_get/' target="_blank">Router Get</a></li>


                <li><a href = '/port_list/' target="_blank">Port List</a></li>
                <li><a href = '/port_get/' target="_blank">Port Get</a></li>
                <li><a href = '/security_group_list/' target="_blank">Security Group List</a></li>
                <li><a href = '/security_group_rules_list/' target="_blank">Security Group Rules List</a></li>


            </ul>

        <li>Compute</li>
            <ul>
                <li><a href = '/flavor_list/' target="_blank">Flavor List</a></li>
                <li><a href = '/server_list/' target="_blank">Server List</a></li>
                <li><a href = '/server_create/' target="_blank">Server Create</a></li>
                <li><a href = '/server_delete/' target="_blank">Server Delete</a></li>
            </ul>
        <li>Identity</li>
            <ul>
                <li><a href = '/user_list/' target="_blank">User List</a></li>
                <li><a href = '/project_list/' target="_blank">Project List</a></li>
            </ul>
    </ul>

{#    <div class="header">#}
{#        <h1 align="center">Image List</h1>#}
{#    </div>#}
{##}
{#    {% for image_dict in ImageList %}#}
{#        <p>镜像{{ forloop.counter }}:{{ image_dict}}</p>#}
{#    {% empty %}#}
{#        <p>抱歉，镜像列表为空</p>#}
{#    {% endfor %}#}



{#    {% for item in List %}#}
{#        <div align="center" class="blog">#}
{#            <div class="title">#}
{#                <h2>{{ item.name }}</h2>#}
{#                查看群组|#}
{##}
{#            </div>#}
{#        <div class="info">#}
{#            <span class="catagory" style="color: #ff9900;">ID：{{ item.id }}</span>#}
{#            <span class="catagory" style="color: #ff9900;">学生人数：{{ item.stuCount }}</span>#}
{#            <span class="author" style="color: #4a86e8;">创建者：{{ item.teacher }}</span>#}
{#            <span class="created" style="color: #6aa84e;">创建日期：{{ item.created_at |date:"Y-m-d H:i" }}</span>#}
{#        </div>#}
{#        <div class="summary">#}
{#            {{ item.desc | truncatechars:100 }}#}
{#        </div>#}
{#        </div>#}
{#    {% endfor %}#}
{% endblock %}