<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Register Page</title>
</head>

<!---
 <style type="text/css">
    body{color:#efd;background:#453;padding:0 5em;margin:0}
    h1{padding:2em 1em;background:#675}
    h2{color:#bf8;border-top:1px dotted #fff;margin-top:2em}
    p{margin:1em 0}
  </style>
--->
<body>
<h1>User Register Page</h1>
<form method = 'post' enctype = "multipart/form-data">
    <!---
    <br><label>用户名：</label>{{ rf.username }}{{ rf.username.errors|safe }}
    <br><label>密码：</label>{{ rf.password }}{{ rf.password.errors|safe }}
    <br><label>重复密码：</label>{{ rf.password_r }}
    <br><label>邮箱：</label>{{ rf.email }}{{ rf.email.errors|safe }}
    <br><label>角色：</label>{{ rf.role }}{{ rf.role.erros|safe }}
    --->

    <!---{{ rf.as_p }}--->
    <table>
        {{ rf.as_table }}
    </table>

    <br>
    <input type="submit" value = "Register">
    <a href="/login/">Login</a>
</form>
</body>
</html>