{% extends "base.html" %}

{% block content %}


    <div class="header">
        <h1 align="center">我的网络资源</h1>
    </div>

    {% for item in NetList %}
        <div align="center" class="blog">
            <div class="title">
                <a href="{% url 'repo_network_detail' item.id %}" target="_blank"><h2>{{ item.network_name }}</h2></a>
                <a href="{% url 'repo_network_detail' item.id %}" target="_blank">详情</a>|
                <a href="{% url 'repo_network_edit' item.id %}" target="_blank">编辑</a>|
                <a href="{% url 'repo_network_delete' item.id %}" >删除</a>
                |<a href="{% url 'network_launch' item.id %}" target="_blank">启动</a>

                |<a href="{% url 'repo_NetworkCart_add' item.id %}" >加入购物车</a>
            </div>
        <div class="info">
            <span class="catagory" style="color: #ff9900;">网络名称：{{ item.network_name }}</span>
            <span class="author" style="color: #4a86e8;">CIDR：{{ item.cidr }}</span>
            <span class="created" style="color: #6aa84e;">创建日期：{{ item.created_at |date:"Y-m-d H:i" }}</span>
            <span class="created" style="color: #6aa84e;">更新日期：{{ item.updated_at |date:"Y-m-d H:i" }}</span>

        </div>
        <div class="network_description">
            {{ item.exp_description | truncatechars:100 }}
        </div>
        </div>
    {% endfor %}



{% endblock %}

