<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>镜像详情</title>
</head>
<body>

    <div class="header">
        <h1>镜像详情：{{ DetailDict.name }}</h1>
        <div>
            {% ifequal username DetailDict.owner.username %}
                <a href="{% url 'repo_image_edit' DetailDict.id %}" target="_blank">编辑</a></h2>
                |<a href="javascript:window.opener=null;window.open('','_self');window.close()" >关闭</a>
            {% endifequal %}
        </div>
    </div>

    <div class="content">
        <h2>基本信息</h2>
        <table cellpadding="5">
            <tr><td>名称</td><td>{{ DetailDict.name }}</td></tr>
            <tr><td>编号</td><td>{{ DetailDict.id }}</td></tr>
            <tr><td>创建者</td><td>{{ DetailDict.owner_name }}</td></tr>
            <tr><td>创建时间</td><td>{{ DetailDict.created_at|date:"Y-m-d H:i" }}</td></tr>
            <tr><td>更新时间</td><td>{{ DetailDict.updated_at|date:"Y-m-d H:i" }}</td></tr>
            <tr><td>状态</td><td>{{ DetailDict.status }}</td></tr>
            <tr><td>系统类型</td><td>{{ DetailDict.os }}</td></tr>
            <tr><td>共享的</td><td>{{ DetailDict.is_shared }}</td></tr>
            <tr><td>描述</td><td>{{ DetailDict.description }}</td></tr>
        </table>

        <h2>规格</h2>
        <table cellpadding="5">
            <tr><td>大小</td><td>{{ DetailDict.size }}</td></tr>
            <tr><td>格式</td><td>{{ DetailDict.disk_format }}</td></tr>
        </table>

    </div>

</body>
</html>