<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Network Detail</title>
</head>
<body>

    <div class="header">
        <span>显示网络详情</span>
    </div>

    <div class="content">
        <div class="blog">
            <div class="title">
                <h2><a href="#">{{ DetailDict.network_name }}</a>
                    {% ifequal username DetailDict.owner.username %}
                        |<a href="{% url 'repo_network_edit' DetailDict.id %}" target="_blank">编辑</a></h2>
                    {% endifequal %}
            </div>
            <div class="info">
                <span class="category" style="color: #ff9900;">网络ID：{{ DetailDict.id }}</span>
                <span class="author" style="color: #4a86e8">网络名称：{{ DetailDict.network_name }}</span>
                <span class="created" style="color: #6aa84f">创建时间：{{ DetailDict.created_at|date:"Y-m-d H:i" }}</span>
                <span class="created" style="color: #6aa84f">更新时间：{{ DetailDict.updated_at|date:"Y-m-d H:i" }}</span>

            </div>
            <div class="summary">
                ip_version：{{ DetailDict.ip_version}}
            </div>
            <div class="summary">
                cidr：{{ DetailDict.cidr }}
            </div>
            <div class="summary">
                gateway_ip：{{ DetailDict.gateway_ip }}
            </div>
            <div class="summary">
                enable_dhcp：{{ DetailDict.enable_dhcp }}
            </div>
            <div class="summary">
                网络描述：{{ DetailDict.network_description }}
            </div>

            </div>
        </div>
    </div>

</body>
</html>