{% extends "base.html" %}

{% block content %}
    <p>继承了base.html</p>
    <p>这里是用户查看资源库中已有资源的页面，包含公共资源库和个人资源库，默认是展示用户个人的资源列表</p>
    <br>
    <ul>
        <li><a href="" >我的资源</a></li>
        <ul>
            <li><a href="" >实验模板</a></li>
            <li><a href="" >查看详情</a>|<a href="" >分发实验模板</a>|<a href="" >删除实验模板</a>|<a href="" >编辑实验模板</a>|<a href="" >启动实验</a></li>
            <li><a href="" >虚拟机镜像</a></li>
            <li><a href="" >查看详情</a>|<a href="" >删除镜像</a></li>
            <li><a href="" >上传镜像-Button</a></li>
        </ul>
        <li><a href="" >资源库</a></li>
        <ul>
            <li><a href="" >实验模板</a></li>
            <li><a href="" >查看详情</a>|<a href="" >分发实验模板</a>|<a href="" >编辑实验模板</a>|<a href="" >启动实验</a></li>
            <li><a href="" >虚拟机镜像</a></li>
        </ul>
    </ul>

{% endblock %}