{% extends "base.html" %}

{% block content %}
    <p>这里是学员管理页面，主要实现添加学员用户，查看学员基本信息功能</p>

    <ul>
        <li><a href="/stu_home/" >群组列表</a></li>
        <li><a href="/group_create/" target="_blank">新增群组</a></li>
    </ul>

    <div class="header">
        <h1 align="center">My Groups</h1>
    </div>

    {% for item in GroupList %}
        <div align="center" class="blog">
            <div class="title">
                <a href="{% url 'group_view' item.id %}" target="_blank"><h2>{{ item.name }}</h2></a>
                <a href="{% url 'group_view' item.id %}" target="_blank">查看群组</a>|
                <a href="{% url 'group_edit' item.id %}" target="_blank">编辑群组</a>|
                <a href="{% url 'group_delete' item.id %}" >删除群组</a>
            </div>
        <div class="info">
            <span class="catagory" style="color: #ff9900;">ID：{{ item.id }}</span>
            <span class="catagory" style="color: #ff9900;">学生人数：{{ item.stuCount }}</span>
            <span class="author" style="color: #4a86e8;">创建者：{{ item.teacher }}</span>
            <span class="created" style="color: #6aa84e;">创建日期：{{ item.created_at |date:"Y-m-d H:i" }}</span>
        </div>
        <div class="summary">
            {{ item.desc | truncatechars:100 }}
        </div>
        </div>
    {% endfor %}
{% endblock %}