
{% extends "base.html" %}

{% block content %}
    <p>这里是教学统计中心，教员可以进行查看学生实验情况，评价实验结果，查看成绩统计，集中进行实验分发管理等一系列与教学相关的业务操作。</p>
    <ul>
        <li><a href="/teach_home/" >实验进展情况</a></li>
        <li><a href="/teach_result_list/">评价实验结果</a></li>
        <li><a href="/teach_score_list/" >成绩统计</a></li>
        <li><a href="/delivery_list/" >分发历史记录</a></li>
        <li><a href="/delivery_create/" target="_blank">新建分发任务</a></li>
    </ul>



    <p>出现当前用户所有学生的平均成绩，可以点进去查看某个学生的所有实验成绩。</p>
    <div class="header">
        <h1 align="center">成绩统计</h1>
            <p align="center" ><a href="/teach_score_list/">按实验查看</a>|<a href="/teach_score_list_by_stu/">按学生查看</a></p>
    </div>



    {% for item in StuScoreList %}
        <div align="center" class="blog">

            <div class="info">
                <span class="catagory" style="color: #ff9900;">学生：<a href="{% url 'teach_score_list_by_stuID' item.stu.id %}" target="_blank">{{ item.stu.stu_username }}</a></span>
                <span class="author" style="color: #4a86e8;">实验数目：{{ item.exp_count }}</span>
                <span class="created" style="color: #6aa84e;">平均成绩：{{ item.ave }}</span>
            </div>
        </div>
    {% endfor %}





{% endblock %}


