
{% extends "base.html" %}

{% block content %}

    <div class="header">
        <h1 align="center">成绩统计</h1>
            <p align="center" ><a href="/teach_score_list/">按实验查看</a>|<a href="/teach_score_list_by_stu/">按学生查看</a></p>
    </div>



    {% for item in StuScoreList %}
        <div align="center" class="blog">

            <div class="info">
                <span class="catagory" style="color: #ff9900;">学生：<a href="{% url 'teach_score_list_by_stuID' item.stu.id %}" target="_blank">{{ item.stu.stu_username }}</a></span>
                <span class="author" style="color: #4a86e8;">实验数目：{{ item.exp_count }}</span>
                <span class="created" style="color: #6aa84e;">平均成绩：{{ item.ave }}</span>
            </div>
        </div>
    {% endfor %}





{% endblock %}


