<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teach Score List</title>
</head>
<body>

    <div class="header">
        <h1 align="center">Teaching Score List<a href="/teach_home/" >返回</a></h1>
        <p align="center" ><a href="">按实验查看</a>|<a href="">按群组查看</a>|<a href="">按学生查看</a></p>
    </div>

    {% for item in ExpScoreList %}
        <div align="center" class="blog">
            <div class="title">
                <h2><a href="{% url 'exp_detail' item.exp.id %}">{{ item.exp.exp_name }}</a></h2>
                <a href="" >查看</a>



            </div>
            <div class="info">
                <span class="catagory" style="color: #ff9900;">操作人数：{{ item.members  }}</span>

                <span class="author" style="color: #4a86e8;">平均分数：{{ item.ave }}</span>

{#                <span class="created" style="color: #6aa84e;">最新评分：{{ item.score_time |date:"Y-m-d H:i" }}</span>#}





            </div>
        </div>
    {% endfor %}


</body>
</html>