<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Score list by student</title>
</head>
<body>
    <div class="header">
        <h1 align="center">Show all exp scores for this delivery:{{ delivery_id }}<a href="/teach_home/">返回</a></h1>
        <h3 align="center">实验名称：{{ exp.exp_name }} ~实验人数：{{ score_count }}~平均实验成绩{{ ave_score }}~平均实验时间：{{ item.average_time }}</h3>
    </div>

    {% for item in ScoreList %}
        <div align="center" class="blog">

            <div class="info">
                <span class="catagory" style="color: #ff9900;">学生：{{ item.stu.stu_username }}</span>
                <span class="author" style="color: #4a86e8;">分数：{{ item.score }}</span>
                <span class="created" style="color: #6aa84e;">完成时间：{{ item.finishedTime|date:"Y-m-d H:i" }}</span>
            </div>
        </div>
    {% endfor %}
</body>
</html>