<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>进入主机</title>
      <style>
        .document{
            float: left;
            width:40%;
            height:600px;
            border: solid #6AC5AC 3px;
        }
        .info {
            border: solid #6AC5AC 3px;
        }
        .vm{
            height: 600px;
            border: solid #6AC5AC 3px;
        }
        </style>
</head>
<body>
    <div class="info">
         <h1>进入主机实例：{{ E_I_Detail_Dict.name }}</h1>
        [<a href="{% url 'vm_instance_save_it' E_I_Detail_Dict.id %}" target="_blank">暂停</a>]
        [<a href="{% url 'vm_instance_recover_it' E_I_Detail_Dict.id %}" target="_blank">继续</a>]
        [<a href="{% url 'vm_instance_stop_it' E_I_Detail_Dict.id %}" target="_blank">关闭</a>]
        [<a href="{% url 'vm_instance_save' E_I_Detail_Dict.id %}" target="_blank">保存为模板</a>]
         <table cellpadding="5">
             <tr><td>编号</td><td>{{ E_I_Detail_Dict.id }}</td></tr>
             <tr><td>创建者</td><td>{{ E_I_Detail_Dict.owner_name }}</td></tr>
             <tr><td>状态</td><td>{{ E_I_Detail_Dict.status }}</td></tr>
             <tr><td>Server id</td><td>{{ E_I_Detail_Dict.server_id }}</td></tr>
         </table>
    </div>
{#    <div class="document">#}
{#        <p>这是实验指导书的显示区域！</p>#}
{#        <embed width="100%" height="88%" src="http://127.0.0.1:8000/static/files/experiment_guide_3.pdf"></embed>#}
{#    </div>#}
    <div class="vm">
{#        <p>这是实验区域！</p>#}
        <iframe width="99%" height="88%" src={{ baiduurl }}></iframe>
    </div>

</body>
</html>