{% extends "base.html" %}

{% block content %}

    <div class="header">
        <h1 align="center">主机实例列表</h1>
    </div>

    {% for item in VMInstanceList %}
        <div align="center" class="blog">
            <div class="title">
                <h2><a href="{% url 'exp_instance_detail' item.id %}" target="_blank">{{ item.id }}</a>：<a href="{% url 'exp_instance_detail' item.id %}" target="_blank">{{ item.name }}</a></h2>
                <a href="{% url 'vm_instance_detail' item.id %}" target="_blank">查看详情</a>|
                <a href="{% url 'vm_instance_goto' item.id %}" target="_blank">进入实例</a>|
                <a href="{% url 'vm_instance_save' item.id %}" target="_blank">保存为模板</a>|
                <a href="{% url 'vm_instance_delete' item.id %}" target="_blank">删除实例</a>|
                <a href="{% url 'exp_instance_start' item.id %}" >Start</a>|
                <a href="{% url 'exp_instance_stop' item.id %}" >Stop</a>|
                <a href="{% url 'exp_instance_pause' item.id %}" >Pause</a>|
                <a href="{% url 'exp_instance_unpause' item.id %}" >Unpause</a>|
                <a href="{% url 'exp_instance_suspend' item.id %}" >Suspend</a>|
                <a href="{% url 'exp_instance_resume' item.id %}" >Resume</a>

            </div>
        <div class="info">
            <span class="catagory" style="color: #ff9900;">所属实验实例：{{ item.belong_exp_instance_id }}</span>
            <span class="catagory" style="color: #ff9900;">主机模板源：{{ item.vm.name }}</span>
            <span class="author" style="color: #4a86e8;">创建者：{{ item.owner_name }}</span>
            <span class="author" style="color: #4a86e8;">IP：{{ item.ip }}</span>
            <span class="created" style="color: #6aa84e;">创建时间：{{ item.createtime |date:"Y-m-d H:i" }}</span>
            <span class="created" style="color: #6aa84e;">更新时间：{{ item.updatetime |date:"Y-m-d H:i" }}</span>
            <span class="catagory" style="color: #ff9900;">实例状态：{{ item.status }}</span>
            <span class="catagory" style="color: #ff9900;">实例ID：{{ item.server_id }}</span>
        </div>
        <div class="summary">
            {{ item.desc | truncatechars:100 }}
        </div>
        </div>
    {% endfor %}

{% endblock %}



